/* Generated data URIs used for preview purposes only */
/* Be sure that you replace data URIs with generated images */
/* http://www.retinaspritegenerator.com/#output */

[class*="sprite-"] {
	background-image: url(../images/sprite.png);
	display: inline-block;
}


.sprite-contato {
	width: 83px;
	height: 53px;
	background-position: 0 0;
}

.sprite-site-seguro {
	width: 64px;
	height: 53px;
	background-position: -83px -53px;
}

.sprite-endereco {
	width: 76px;
	height: 53px;
	background-position: -147px -106px;
}

.sprite-minhas-doacoes {
	width: 26px;
	height: 41px;
	background-position: -223px -159px;
}

.sprite-dados-pessoais {
	width: 16px;
	height: 42px;
	background-position: -249px -200px;
}

.sprite-email {
	width: 68px;
	height: 47px;
	background-position: -265px -242px;
}

.sprite-google {
	width: 60px;
	height: 60px;
	background-position: -333px -289px;
}

.sprite-twitter {
	width: 60px;
	height: 60px;
	background-position: -393px -349px;
}

.sprite-facebook {
	width: 60px;
	height: 60px;
	background-position: -453px -409px;
}

.sprite-minha-conta {
	width: 32px;
	height: 47px;
	background-position: -513px -469px;
}

.sprite-atualizar {
	width: 40px;
	height: 39px;
	background-position: -545px -516px;
}

.sprite-aumentar-doacao {
	width: 47px;
	height: 42px;
	background-position: -585px -555px;
}

.sprite-nova-doacao {
	width: 40px;
	height: 40px;
	background-position: -632px -597px;
}

.sprite-paypal {
	width: 140px;
	height: 37px;
	background-position: -672px -637px;
}

.sprite-cod-segunranca {
	width: 136px;
	height: 55px;
	background-position: -812px -674px;
}

.sprite-calendar {
	width: 34px;
	height: 31px;
	background-position: -948px -729px;
}

.sprite-diners {
	width: 86px;
	height: 71px;
	background-position: -982px -760px;
}

.sprite-amex {
	width: 102px;
	height: 35px;
	background-position: -1068px -831px;
}

.sprite-visa {
	width: 102px;
	height: 32px;
	background-position: -1170px -866px;
}

.sprite-mastercard {
	width: 89px;
	height: 53px;
	background-position: -1272px -898px;
}

.sprite-bradesco {
	width: 94px;
	height: 75px;
	background-position: -1361px -951px;
}

.sprite-itau {
	width: 75px;
	height: 75px;
	background-position: -1455px -1026px;
}

.sprite-boleto {
	width: 57px;
	height: 52px;
	background-position: -1530px -1101px;
}

.sprite-debito {
	width: 58px;
	height: 52px;
	background-position: -1587px -1153px;
}

.sprite-credito {
	width: 58px;
	height: 52px;
	background-position: -1645px -1205px;
}

.sprite-check {
	width: 44px;
	height: 32px;
	background-position: -1703px -1257px;
}

.sprite-sou-doador {
	width: 49px;
	height: 40px;
	background-position: -1747px -1289px;
}

.sprite-quero-ajudar {
	width: 48px;
	height: 48px;
	background-position: -1796px -1329px;
}
